<?xml version="1.0"?>
<!--
/**
 * AdditionalField module xml.
 * @category  Netsmartz
 * @package   Netsmartz_AdditionalField
 * @author    Rajwinder
 * @copyright Copyright (c) 2021 Netsmartz Limited
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Netsmartz_AdditionalField" setup_version="1.0.0">
    </module>
</config>
